body{
    background-color: lightskyblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: lightgreen;
    color: green;
}

a{
    text-decoration: none;
    color: darkcyan;
}
.content{
    text-align: center;
}

li{
    text-align: left;
}